.footer {
  background-color: #ECD06F;
  text-align: center;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.footer > ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.footer > ul > li {
  display: inline;
  padding: 10px 5px 0px 5px;
}

.footer > ul > li > a {
  color: #ED3300;
  display: inline-block;
  margin-top: 20px;
}

.footer > ul > li > a > i {
  font-size: 30px;
  padding: 10px 10px 0px 10px;

}
